body {
  margin: 0;
  background-color: orangered;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

#home-container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.HomeLayout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 80%;
  -webkit-box-shadow: 0px 13px 41px -6px rgba(41,41,41,1);
  -moz-box-shadow: 0px 13px 41px -6px rgba(41,41,41,1);
  box-shadow: 0px 13px 41px -6px rgba(41,41,41,1);
}