.Titles{
  align-items: center;
  background-image: url(https://preview.ibb.co/ebwaUT/weather2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Titles h1 {
  font-size: 55px;
  letter-spacing: 5px;
  margin-bottom: 0.5em;
}

.Titles p {
  font-style: italic;
  font-size: 30px;
}