.SearchForm {
  width: 100%;
}

.SearchForm input{
  border: none;
  border-bottom: 2px solid #da7651;
  background: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 25%
}

.SearchForm form {
  display: flex;
  justify-content: space-around;
}

.SearchForm input:focus{
  outline: none;
}

.SearchForm input::placeholder {
  color: #2e2d2d;
  font-size: 20px;
  font-weight: bold;
}

.SearchForm button {
  color: white;
  background: #da7651;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 25%;
  box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);
}

.SearchForm button:active {
  background-color: #b15838;
  box-shadow: 0 3px #575757a6;
  color: #c5c5c5;
  transform: translateY(1px);
}

.SearchForm button:focus {
  outline: none;
}