.SearchResults {
  width: 90%;
  height: 100%;
}

.SearchResults p {
  color: #eb7144;
  border-bottom: 2px solid #68a250;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  margin-bottom: 1em;
  padding: 0.5em;
}

.SearchResults span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0.5em;
}

.SearchResults figure {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: right;
  margin-top: 2em;
}

.SearchResults img {
  width: 20%;
}